.breakpoints {
    border-left: solid 5px #333;
    border-right: solid 5px #333;
    min-height: 100vh;
    min-width: 280px;

    @include media-breakpoint-up('xs') {
        background-color: #fffadd;
    }
    
    @include media-breakpoint-up('sm') {
        background-color: #fed6bc;
    }
    
    @include media-breakpoint-up('md') {
        background-color: #def7fe;
    }
    
    @include media-breakpoint-up('lg') {
        background-color: #e7ecff;
    }
    
    @include media-breakpoint-up('xl') {
        background-color: #c6d8ff;
    }
    
    @include media-breakpoint-up('xxl') {
        background-color: #c3f8d8;
    }

    &::before {
        display: block;
        text-align: center;
        font-size: 200px;

        @include media-breakpoint-up('ph') {
            content: "ph";
        }
        
        @include media-breakpoint-up('tb') {
            content: "tb";
        }
        
        @include media-breakpoint-up('lp') {
            content: "lp";
        }
        
        @include media-breakpoint-up('dt') {
            content: "dt";
        }
    }
    
    &::after {
        display: block;
        text-align: center;
        font-size: 100px;

        @include media-breakpoint-up('ph') {
            content: "\003C 750px";
        }
        
        @include media-breakpoint-up('tb') {
            content: "\2265 750px";
        }
        
        @include media-breakpoint-up('lp') {
            content: "\2265 950px";
        }
        
        @include media-breakpoint-up('dt') {
            content: "\2265 1200px";
        }
    }
}